<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<form action="/edit/{id}" method="post">
    <input type="text" name="name" placeholder="name" value="{name}">
    <input type="text" name="price" placeholder="price" value="{price}">
    <input type="text" name="description" placeholder="description" value="{description}">
    <input type="text" name="nameCategory" placeholder="nameCategory" value="{nameCategory}">
    <button type="submit" style="background-color: green">Edit</button>
</form>
</body>
</html>